{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h2>Welcome to the Home Page</h2>
    <p>This is the home page for the flask templates exercise</p>
    <div class="dropdown">

  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Test Button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Test 1 2 3</a></li>
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Cut</a></li>
  </ul>
</div>
{% endblock %}